
<div class="row">
  <div class="col-md-12">
    <h1>Tucker's Overflow Questions</h1>
  </div>
</div>

  <% if @questions.any? %>

    <ul>

      <% @questions.each do |question| %>

        <li>
<<<<<<< HEAD
        <%= link_to question.description, question_path(question) %>
=======
        <%= link_to question_path(question) do %><%= question.description %><% end %>
>>>>>>> d4c124ae07a38bc2e24ad049073ef0a97e12bcd8
        </li>

      <% end %>

    </ul>
  <% end %>

    <p><%= link_to "Add a new question", new_question_path %></p>
    <p><%= link_to "Return to Homepage", users_path(@user) %></p>
