
<div class="row">
  <div class="col-md-12">
    <h1>Question</h1>
  </div>
</div>
  <ul>
      <%= @question.description %>
  </ul>

<div class="row">
  <div class="col-md-6">
    <% if @question.answers.any? %>

    <h4>Here are the answers for this question:</h4>
    <ul>
      <% @question.answers.each do |answer| %>
      <li>
        <%= link_to answer.description, question_answers_path(@question, answer) %>
          <% end %>
  </div>
</div>

      </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% else %>
  <div class="row">
    <div class="col-md-12 center">
      <p>There are no answers yet!</p>
      <% end %>

      <p><%= link_to "Add a answer", new_question_answer_path(@question) %></p>
      <p><%= link_to "Return to questions", questions_path %></p>
      </div>
    </div>
<p><%= link_to "Return to Homepage", user_path(@user) %></p>
