<h1> <%= @user.name %> </h1>
<h2> <%= @user.email %></h2><% if current_user %>

  <% if current_user.id == @user.id %>

    <p><%= link_to "Delete My Account", user_path(@user),
    :data => {:confirm => "Are you sure???", :method => "delete"} %></p>
    <%= link_to "Post a question", new_user_photo_path(@user) %>

    <% end %>
    <p><%= link_to "Return to Feed", users_path %></p>

<% end %>
